{% extends 'base.html.twig' %}

{% block title %}Hello CreateCarController!
{% endblock %}

{% block body %}
{{form_start(createcarform)}}

<div class="relative flex min-h-screen text-gray-800 antialiased flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
	<div class="relative py-3 sm:w-96 mx-auto text-center">
		<span class="text-2xl font-light "><h1>Create a New Car</h1></span>
		<div class="mt-4 bg-white shadow-md rounded-lg text-left">
			<div class="h-2 bg-purple-400 rounded-t-md"></div>
			<div class="px-8 py-6 ">
				<label class="block font-semibold">
					Brand
				</label>
				<input type="text" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Email" class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md">
				
				<label class="block mt-3 font-semibold">
					Model
				</label>
				
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Password" class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md">
				
				<label class="block font-semibold">
					Power
				</label>
				<input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Email" class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md">
				
				<label class="block mt-3 font-semibold">
					Color
				</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Password" class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md">
				
				<label class="block font-semibold">
					Year
				</label>
				<input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Email" class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md">

				<label class="block mt-3 font-semibold">
					Cm3 (Dysplacement)
				</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Password" class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md">

<div class="flex justify-between items-baseline">

					<button type="submit" class="mt-4 bg-purple-500 text-white py-2 px-6 rounded-md hover:bg-purple-600 ">Create</button>
					<a href="#" class="text-sm hover:underline">Forgot password?</a>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				</div>
				{% if app.user %}
					<div class="mb-3 font-semibold ">
						You are logged in as
						{{ app.user.userIdentifier }},
						<a class="hover:text-purple-600" href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% else %}
					<div class="mb-3 font-semibold ">
						<a class="hover:text-purple-600" href="{{ path('app_register') }}">Register</a>
					</div>
				{% endif %}


			</div>

		</div>
	</div>




	{{form_row(createcarform.brand)}}
	{{form_row(createcarform.model)}}
	{{form_row(createcarform.power)}}
	{{form_row(createcarform.color)}}
	{{form_row(createcarform.year)}}
	{{form_row(createcarform.cm3)}}
	{{form_row(createcarform.weight)}}
	{{form_row(createcarform.pocess)}}
	{{ form_row(createcarform.save, { 'label': 'Save' }) }}
	{{form_end(createcarform)}}








{% endblock %}

